body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5230 {
  position:absolute;
  left:50px;
  top:50px;
  width:400px;
  height:711px;
}
#u5231 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:41px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5232 {
  position:absolute;
  left:50px;
  top:50px;
  width:400px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u5233 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u5234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u5234 {
  position:absolute;
  left:67px;
  top:59px;
  width:13px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u5235 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u5236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u5236 {
  position:absolute;
  left:94px;
  top:166px;
  width:281px;
  height:40px;
  line-height:20px;
}
#u5237 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u5238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5238 {
  position:absolute;
  left:94px;
  top:316px;
  width:59px;
  height:18px;
}
#u5239 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5240 {
  position:absolute;
  left:94px;
  top:346px;
  width:308px;
  height:40px;
}
#u5240_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u5241 {
  position:absolute;
  left:94px;
  top:316px;
  width:308px;
  height:75px;
  overflow:hidden;
  visibility:hidden;
}
#u5241_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:75px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5241_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5242 {
  position:absolute;
  left:-48px;
  top:-94px;
  width:403px;
  height:222px;
}
#u5243 {
  position:absolute;
  left:2px;
  top:103px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5244 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u5245 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5246 {
  position:absolute;
  left:0px;
  top:30px;
  width:308px;
  height:40px;
}
#u5246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u5247 {
  position:absolute;
  left:94px;
  top:231px;
  width:136px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u5248 {
  position:absolute;
  left:16px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u5247_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5249 {
  position:absolute;
  left:266px;
  top:231px;
  width:136px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u5250 {
  position:absolute;
  left:16px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u5249_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5251 {
  position:absolute;
  left:83px;
  top:676px;
  width:334px;
  height:40px;
}
#u5252 {
  position:absolute;
  left:2px;
  top:12px;
  width:330px;
  word-wrap:break-word;
}
