body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4995 {
  position:absolute;
  left:50px;
  top:50px;
  width:400px;
  height:711px;
}
#u4996 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:41px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u4997 {
  position:absolute;
  left:50px;
  top:50px;
  width:400px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u4998 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u4999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u4999 {
  position:absolute;
  left:67px;
  top:59px;
  width:13px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u5000 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u5001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u5002 {
  position:absolute;
  left:50px;
  top:139px;
  width:400px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u5003 {
  position:absolute;
  left:2px;
  top:16px;
  width:396px;
  word-wrap:break-word;
}
#u5004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5004 {
  position:absolute;
  left:411px;
  top:154px;
  width:20px;
  height:20px;
}
#u5005 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u5007 {
  position:absolute;
  left:50px;
  top:90px;
  width:400px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u5008 {
  position:absolute;
  left:2px;
  top:16px;
  width:396px;
  word-wrap:break-word;
}
#u5009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5009 {
  position:absolute;
  left:411px;
  top:105px;
  width:20px;
  height:20px;
}
#u5010 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u5011 {
  position:absolute;
  left:296px;
  top:106px;
  width:59px;
  height:18px;
  color:#999999;
  text-align:right;
}
#u5012 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u5013 {
  position:absolute;
  left:267px;
  top:156px;
  width:88px;
  height:18px;
  color:#999999;
  text-align:right;
}
#u5014 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u5015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5015 {
  position:absolute;
  left:83px;
  top:691px;
  width:334px;
  height:40px;
}
#u5016 {
  position:absolute;
  left:2px;
  top:12px;
  width:330px;
  word-wrap:break-word;
}
#u5017 {
  position:absolute;
  left:50px;
  top:50px;
  width:400px;
  height:712px;
  overflow:hidden;
  visibility:hidden;
}
#u5017_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:712px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5017_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5018 {
  position:absolute;
  left:0px;
  top:1px;
  width:400px;
  height:711px;
}
#u5019 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:41px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5020 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u5021 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u5022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u5022 {
  position:absolute;
  left:17px;
  top:9px;
  width:13px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u5023 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u5024 {
  position:absolute;
  left:0px;
  top:40px;
  width:405px;
  height:425px;
}
#u5025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:140px;
}
#u5025 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:140px;
}
#u5026 {
  position:absolute;
  left:2px;
  top:62px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:140px;
}
#u5027 {
  position:absolute;
  left:0px;
  top:140px;
  width:400px;
  height:140px;
}
#u5028 {
  position:absolute;
  left:2px;
  top:62px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:140px;
}
#u5029 {
  position:absolute;
  left:0px;
  top:280px;
  width:400px;
  height:140px;
}
#u5030 {
  position:absolute;
  left:2px;
  top:62px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5031 {
  position:absolute;
  left:17px;
  top:63px;
  width:217px;
  height:18px;
  color:#000000;
}
#u5032 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u5033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5033 {
  position:absolute;
  left:17px;
  top:92px;
  width:160px;
  height:15px;
  font-size:13px;
}
#u5034 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u5035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u5035 {
  position:absolute;
  left:17px;
  top:117px;
  width:123px;
  height:15px;
  font-size:13px;
  color:#000000;
}
#u5036 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u5037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u5037 {
  position:absolute;
  left:17px;
  top:141px;
  width:91px;
  height:15px;
  font-size:13px;
  color:#000000;
}
#u5038 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5039 {
  position:absolute;
  left:343px;
  top:103px;
  width:27px;
  height:16px;
}
#u5040 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5039_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5041 {
  position:absolute;
  left:17px;
  top:203px;
  width:217px;
  height:18px;
  color:#000000;
}
#u5042 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u5043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5043 {
  position:absolute;
  left:17px;
  top:232px;
  width:160px;
  height:15px;
  font-size:13px;
}
#u5044 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u5045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u5045 {
  position:absolute;
  left:17px;
  top:257px;
  width:123px;
  height:15px;
  font-size:13px;
  color:#000000;
}
#u5046 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u5047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u5047 {
  position:absolute;
  left:17px;
  top:281px;
  width:91px;
  height:15px;
  font-size:13px;
  color:#000000;
}
#u5048 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5049 {
  position:absolute;
  left:343px;
  top:243px;
  width:27px;
  height:16px;
}
#u5050 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5049_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5051 {
  position:absolute;
  left:17px;
  top:343px;
  width:217px;
  height:18px;
  color:#000000;
}
#u5052 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u5053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5053 {
  position:absolute;
  left:17px;
  top:372px;
  width:160px;
  height:15px;
  font-size:13px;
}
#u5054 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u5055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u5055 {
  position:absolute;
  left:17px;
  top:397px;
  width:123px;
  height:15px;
  font-size:13px;
  color:#000000;
}
#u5056 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u5057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u5057 {
  position:absolute;
  left:17px;
  top:421px;
  width:91px;
  height:15px;
  font-size:13px;
  color:#000000;
}
#u5058 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5059 {
  position:absolute;
  left:343px;
  top:383px;
  width:27px;
  height:16px;
}
#u5060 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5059_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:135px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5061 {
  position:absolute;
  left:2px;
  top:576px;
  width:397px;
  height:135px;
}
#u5062 {
  position:absolute;
  left:2px;
  top:60px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5063 {
  position:absolute;
  left:33px;
  top:603px;
  width:146px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5064 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u5065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5065 {
  position:absolute;
  left:33px;
  top:646px;
  width:334px;
  height:40px;
}
#u5066 {
  position:absolute;
  left:2px;
  top:12px;
  width:330px;
  word-wrap:break-word;
}
#u5017_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:712px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5017_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:402px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5067 {
  position:absolute;
  left:0px;
  top:1px;
  width:400px;
  height:402px;
  opacity:0.7;
}
#u5068 {
  position:absolute;
  left:2px;
  top:193px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:41px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5069 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u5070 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u5071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u5071 {
  position:absolute;
  left:17px;
  top:9px;
  width:13px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u5072 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u5073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:318px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5073 {
  position:absolute;
  left:0px;
  top:394px;
  width:400px;
  height:318px;
}
#u5074 {
  position:absolute;
  left:2px;
  top:151px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5075 {
  position:absolute;
  left:0px;
  top:504px;
  width:400px;
  height:50px;
  font-size:14px;
}
#u5076 {
  position:absolute;
  left:2px;
  top:16px;
  width:396px;
  word-wrap:break-word;
}
#u5077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5077 {
  position:absolute;
  left:0px;
  top:552px;
  width:400px;
  height:110px;
  font-size:14px;
}
#u5078 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u5079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5079 {
  position:absolute;
  left:0px;
  top:662px;
  width:400px;
  height:50px;
  font-size:14px;
}
#u5080 {
  position:absolute;
  left:2px;
  top:16px;
  width:396px;
  word-wrap:break-word;
}
#u5081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:30px;
}
#u5081 {
  position:absolute;
  left:26px;
  top:603px;
  width:352px;
  height:30px;
  color:#009900;
}
#u5082 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u5083 {
  position:absolute;
  left:51px;
  top:523px;
  width:397px;
  height:236px;
  overflow:hidden;
  visibility:hidden;
}
#u5083_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:236px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5083_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:234px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5084 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:234px;
}
#u5085 {
  position:absolute;
  left:2px;
  top:109px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5086 {
  position:absolute;
  left:32px;
  top:159px;
  width:334px;
  height:40px;
}
#u5087 {
  position:absolute;
  left:2px;
  top:12px;
  width:330px;
  word-wrap:break-word;
}
#u5088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5088 {
  position:absolute;
  left:32px;
  top:81px;
  width:319px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5089 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  white-space:nowrap;
}
