body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:453px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:713px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5224 {
  position:absolute;
  left:50px;
  top:50px;
  width:403px;
  height:713px;
}
#u5225 {
  position:absolute;
  left:2px;
  top:348px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u5226 {
  position:absolute;
  left:51px;
  top:51px;
  width:400px;
  height:711px;
}
#u5227 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:132px;
}
#u5228 {
  position:absolute;
  left:201px;
  top:156px;
  width:100px;
  height:132px;
}
#u5229 {
  position:absolute;
  left:2px;
  top:58px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
