body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:453px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:714px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5212 {
  position:absolute;
  left:50px;
  top:50px;
  width:403px;
  height:714px;
}
#u5213 {
  position:absolute;
  left:2px;
  top:349px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u5214 {
  position:absolute;
  left:52px;
  top:52px;
  width:400px;
  height:711px;
}
#u5215 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:25px;
}
#u5216 {
  position:absolute;
  left:82px;
  top:304px;
  width:351px;
  height:60px;
  font-size:14px;
  line-height:25px;
}
#u5217 {
  position:absolute;
  left:2px;
  top:2px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5218 {
  position:absolute;
  left:211px;
  top:85px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u5219 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5220 {
  position:absolute;
  left:89px;
  top:396px;
  width:328px;
  height:40px;
}
#u5221 {
  position:absolute;
  left:2px;
  top:12px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 191, 142, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5222 {
  position:absolute;
  left:88px;
  top:459px;
  width:328px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u5223 {
  position:absolute;
  left:2px;
  top:11px;
  width:324px;
  word-wrap:break-word;
}
